/* FONTER
Header          - font-family: 'Caveat', cursive;
Navigaciayi ejer - font-family: 'Satisfy', cursive;
Text            - font-family: 'Inconsolata', monospace;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-size: cover;
    scroll-behavior: smooth;
  /*transition-duration: 1500ms;*/
}


/*Header*/
header {
    background-color: white;
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    /*sax mi toxi vra*/
    justify-content: space-between;
    /*navy tanuma logo-i hakarak komy floati pes*/
    align-items: center;
    /*navi elementnery mejtexe dnum*/
    padding: 24px 102px;
    border-bottom: 3px solid #d03958;
}

#scrollTop{
    position: fixed;
    bottom: 155px;
    right: 35px;
    font-size: 40px;
    z-index: 9999;
    color: #d03958;
    font-size: 45px;
}

.isShowBtn{
    opacity: 1;
    transition: 1s;
}

.isShowBtn_hide{
    opacity: 0;
}

.logo {
    position: relative;
    color: #d03958;
    font-size: 60px;
    font-family: 'Caveat', cursive;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.logo:hover {
    transform: rotate(360deg) translateZ(0);
    box-shadow: 10px 5px 10px 5px #d03958;
}

.fa-bars{
    display: none;
}

ul {
    position: relative;
    display: flex;
}

ul>li>a {
    position: relative;
    margin: 0 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    transition: .5s;
    font-family: 'Satisfy', cursive;
}

ul>li>a:hover {
    color: #d03958;
}

a.active {
    background-color: #d03958;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}


/*About*/
main {
    background-image: url(../img/7.jpeg);
    padding: 24px 102px;
    height: 660px;
    border-bottom: 3px solid #d03958;
}

.article {
    width: 430px;
    margin-top: 124px;
    margin-bottom: 262px;
}

.article__name1, .article__name2 {
    font-size: 90px;
    font-family: 'Satisfy', cursive;
}

.article__name1 {
    color: #d03958;
}

.article__name2 {
    color: white;
    margin-top: -30px;
    margin-bottom: 25px;
}

.article__text{
    position: absolute;
    text-align: center;
    top: 150px;
    right: 102px;
    width: 400px;
    color: white;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}


/*Services*/
#one {
	padding-top: 175px;
	margin-top: -125px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.services__p {
    padding: 0 102px;
    margin-top: 48px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #d03958;
    font-family: 'Satisfy', cursive;
}

.color{
    color: black;
    font-family: 'Satisfy', cursive;
}

.services__container{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.box{ 
    padding: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    flex-basis: 17%; 
    transition: transform .5s;
}

.box:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.box>p{
    margin-top: 40px;
    color: black;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.fa-heart-o, .fa-cog, .fa-lightbulb-o, .fa-location-arrow{
    font-size: 130px;
    color: #d03958;
}


/*Our Story*/
.our-story{
    padding: 35px 102px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #d03958;
}

.our-story__p{
    font-size: 20px;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.our-story__btn{
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 900;
    font-family: 'Satisfy', cursive;
    padding: 0 78px;
    margin-left: 121px;
    transition: .5s;
    outline: none;
    cursor: pointer;
}

.our-story__btn:focus{
    background-color: black;
    color: white;
    box-shadow: 0 0 30px white;
}


/*Pricing*/  
#two {
	padding-top: 175px;
	margin-top: -125px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
    border-bottom: 3px solid #d03958;
}

.pricing{
    padding: 0 102px;
}

.pricing__name{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center; */
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    font-weight: 600;
    color: #d03958;
    font-family: 'Satisfy', cursive;
}

.pricing__container{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.pricing__card{
    display: table-cell;
  /*vertical-align: middle;*/
    text-align: center;
    flex-basis: 317px; 
    transition: transform .5s;
    margin-top: 60px;
    font-family: 'Inconsolata', monospace;
    height: 404px;
    background-color: #d03958;
    border-radius: 10px;
    margin-bottom: 60px;
}

.pricing__card>p{
    font-size: 18px;
}

.pricing__card>p:nth-child(1){
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

.pricing__card>p:nth-child(3){
    margin-top: 40px;
    margin-bottom: 30px;
}

.pricing__card>h3{
    font-size: 40px;
}

.pricing__card>button{
    border-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    outline: none;
    transition: .5s;
    cursor: pointer;
}

.pricing__card>button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.pricing__card>button:focus{
    background-color: black;
    color: white;
    box-shadow: 0 0 30px white;
}


/*testimonial taza*/
#three{
    padding-top: 255px;
    margin-top: -125px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}


.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__name{
    text-transform: uppercase;
    /* display: flex;
    justify-content: center; */
    padding: 0 102px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #d03958;
    font-family: 'Satisfy', cursive;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.container .card{
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border: 1px solid #333;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #d03958;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.8;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 220px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.8); */
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    border: 1px solid #333;

}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}




/*Testimonial*/
/*Section-Testimonial
.column{
    -moz-column-count: 2;
    -moz-column-gap: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 50%;
    column-count: 2;
    column-gap: 50%;
    margin-bottom: 40px;
    padding-top: 110px;
	margin-top: -125px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.testimonial{
    display: block;
    padding-left: 102px;
    margin-top: 80px;
    margin-bottom: 50px;
    float: left;
}

.testimonial__name{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.testimonial__block{
    display: block;
    margin-bottom: 60px;
    width: 438px;
    box-shadow: 1px 1px 10px 1px #d03958;
    border-radius: 3px;
}

.testimonial__text{
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
}

.testimonial__p{
    color: #d03958;
    margin-top: 20px;
    font-weight: 900;
}*/

/*Section Request*/
.request {
    background-color: #d03958;
    border-radius: 5px;
    width: 398px;
    height: 550px;
    display: block;
    float: right;
    margin-right: 102px;
    margin-left: 100px;
}

.request__quote {
    margin-left: 102px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.request__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 57px;
    width: 353px;
    margin-top: 12px;
    border-radius: 3px;
    border: none;
    transition: .5s;
}

.request__input:focus {
    outline: none;
    box-shadow: 0 0 20px black;
}

.request__input:focus::-webkit-input-placeholder{
    color: transparent;
    transition: .5s;
}

.request__checkbox {
    margin-bottom: 20px;
    margin-left: 25px;
    height: 20px;
    width: 20px;
}

.request__label {
    margin-left: 40px;
    color: white;

}

.request__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 57px;
    width: 353px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    transition: .5s;
}

.request__btn:focus {
    outline: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 20px black;
}


/*Footer*/
footer{
    font-size: 17px;
    border-top: 3px solid #d03958;
    font-family: 'Inconsolata', monospace;
    display: block;
    background-color: black;
    height: auto;
    padding: 50px 102px;
}

.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end__copyright{
    color: white;
}

.end__p{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.end__text{
    color: #d03958;
}

.end__logo{
    font-family: 'Caveat', cursive;
    font-size: 47px;
    color: #d03958;
}
